.DS_Store
*.ipynb

~$*.xlsx

.idea/*
.cache/*
__pycache__/*
.ipynb_checkpoints/*

data/*
utils/__pycache__/*
models/__pycache__/*
config/__pycache__/*
.pytest_cache/*
tests/.pytest_cache/*

config/app_env.py