# cache files
.DS_Store
*.ipynb
~$*.xlsx

.idea/*
.cache/*
.ipynb_checkpoints/*
.pytest_cache/*

__pycache__/*
*/__pycache__*
config/__pycache__/*
google_client/__pycache__/*
models/__pycache__/*
services/__pycache__/*
services/utils/__pycache__/
tests/.pytest_cache/*


# sensitive data
data/*
secrets/*